{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma":"none",
  "semi": false,
  "singleQuote": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "editor.formatOnPaste": false
}